.instructions {
    text-align: right;
    font-size: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid #fff;
}

.fail {
    border-color: red;
}

.success {
    border-color: green;
}

.challange {
    font-weight: bold;
    margin: 0 5px;
}

.helpAndSkip {
    display: block;
    margin-top: 10px;
}

.skip:not(:empty) {
    display: inline-block;
    cursor: pointer;
}

.help:not(:empty) {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

.next:not(:empty) {
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}
