.button {
    display: inline-block;
    background-color: #2E8AE1;
    padding: 20px;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    color: #002A50;
}

h2 {
    color: #002A50;
}